
<h1> Assign Task </h1>

<%= form_tag Assign_t_multiple_update_path, method: :put do %>
	<% @tasks.each do |task| %>
		<%= fields_for "tasks[]", task do |t| %>
			<br>
			<h3> Task</h3>
			<%= t.label :Task_name %><br>
			<%= t.text_field :name %> <br>
			
			<%= t.label :description_of_task %><br>
			<%= t.text_area :description %><br>
			
			<%= t.label :start_date %><br>
			<%= t.date_select :start %><br>
			
			<%= t.label :end_date %><br>
			<%= t.date_select :end %><br>
			<%= t.collection_select :teamlead_id, Teamlead.all, :id, :username, prompt: true %>

			<br>
		<% end %>
  	<% end %>
	<%= submit_tag "Update" %>
<% end %>
