

<h1> Hello admin </h1>
<%= link_to " New Task ","/new" %><br>
<%= link_to " Make Team Lead ","/action/tlead" %>
<div class="row">
	  <div class="column" style="background-color:#ddd; width:70%;" >
	    <h2>Tasks</h2>
	    <div >
	    	<%= form_tag edit_multiple_admin_index_path,  method: :get do %> 
	  			<table >
				    <tr>
				      <th></th>
				      <th>Task Name</th>
				      <th>Assigned to TL:</th>
				      <th>Assigned Employee</th> 
				      <th>Assigned date </th>
				      <th>To be done upto</th>
				      <th>Status</th>
				      <th></th>
				     </tr>
				     <%  for t in @tasks %>
					  <tr>
					  	<td><%= check_box_tag "tasks_ids[]", t.id %>
					    <td><%= t.name %></td>
					    <% if t.teamlead_id != nil %> 	
					    	<td>TL: <%= Teamlead.find(t.teamlead_id).username%></td>
					    	<% if t.user_id !=1 %>
					    		<td> <%= User.find(t.user_id).username%></td>
					    	<% else%>
					    		<td><%= Teamlead.find(t.teamlead_id).username%></td>
					    	<% end%>
					    <% else %>
					    	<td> Not Assigned </td>
					    	<td> Not Assigned </td>
					    <% end %>
					    <td><%= t.updated_at %></td>
					    <td><%= t.end %></td>
					    <td><% if(t.status==false)%>
					    	<%= "not done" %>
					    	<%else%>
					    	<%= "done" %>
					    	<%end%>
					    </td>
					    <td><%=link_to ' Delete ', task_path(t), :method => :delete, data: {confirm: "Are you sure?"} %>
					  </tr>
					  <% end %>
				</table>
				<%= submit_tag "Edit Task" %>
			<% end %>


		</div>
	  </div>
		<div class="column" style="background-color:#eee;width:12%;">
		    
		    <table >
				    <tr>
				      <th>Team Lead</th>
				     </tr>
				     <%  for t in @tleads %>
					  <tr>
					  	<td><%= t.username %></td>
					  </tr>
					  <% end %>
			</table>
		</div>
		<div class="column" style="background-color:#eee;width:12%;">
		    
		    <table >
				    <tr>
				      <th>Employee</th>
				
				     </tr>
				     <%  for u in @users %>
					  <tr>
					  	<%if u.is_tlead? == false %> 
					    	<td><%= u.username%></td>
					    <% end %>
					  </tr>
					  <% end %>
			</table>
		</div>
</div>
<p> </p>