<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</style>
	
	

    
    
	
</head>
<body>

<h1> Edit Task </h1>

<%= form_tag update_multiple_admin_index_path, method: :put do %>
	<% @tasks.each do |task| %>
		<%= fields_for "tasks[]", task do |t| %>
			<br>
			<h3> Task</h3>
			<%= t.label :Task_name %><br>
			<%= t.text_field :name %> <br>
			
			<%= t.label :description_of_task %><br>
			<%= t.text_area :description %><br>
			
			<%= t.label :start_date %><br>
			<%= t.date_select :start %><br>
			
			<%= t.label :end_date %><br>
			<%= t.date_select :end %><br>
			<%= t.collection_select :teamlead_id, Teamlead.all, :id, :username, prompt: true %>

			<br>
		<% end %>
  	<% end %>
	<%= submit_tag "Update" %>
<% end %>
